<div class="container">
  <h1>Welcome to Chat App</h1>
  <p>Connect with people in real-time chat rooms</p>
  
  <div>
    <%= link_to "Browse Chat Rooms", chat_rooms_path, class: "btn" %>
    <%= link_to "Create New Room", new_chat_room_path, class: "btn" %>
  </div>
</div>
