<div class="app-container">
  <h1 class="text-gray-700 mb-5">Welcome to Chat App</h1>
  <p class="mb-5">Connect with people in real-time chat rooms</p>
  
  <div>
    <%= link_to "Browse Chat Rooms", chat_rooms_path, class: "app-button" %>
    <%= link_to "Create New Room", new_chat_room_path, class: "app-button" %>
  </div>
</div>
